* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #9d9d9d;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character {
  position: absolute;
  width: 200px;
  height: 400px;
  margin: auto;
}

.character-part {
  position: absolute;
}

#character-eyes {
  top: 15%;
  left: 37%;
  width: 40%;
  height: auto;
  z-index: 3;
}

#character-hair {
  top: -3%;
  left: 18%;
  width: 75%;
  height: auto;
  z-index: 2;
}

#character-body {
  top: 10%;
  left: 5%;
  width: 100%;
  height: auto;
  z-index: 1;
}

.character-head,
.character-body {
  background-color: black;
  border: 2px solid white;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-panel {
  background-color: #888;
  padding: 20px;
  width: 300px;
}

.option-tabs {
  display: flex;
  flex-direction: column;
}

.tab {
  background-color: #666;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
  color: white;
}

.tab.active {
  background: linear-gradient(to right, #ec008c, #fc6767);
  color: white;
}

.options-content {
  display: flex;
  flex-direction: column;
}

.options-grid {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}

.options-grid.active {
  display: grid;
}

.option-item {
  background-color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.option-item img.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.option-item span {
  color: black;
  font-size: 14px;
}

.attribute {
  position: relative;
}

.attribute-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.attribute-box {
  background-color: #ddd;
  width: 300px;
  height: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attribute-box h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.attribute-content {
  background-color: #ccc;
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.attribute-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 10px;
}

.attribute-content p {
  margin: 5px 0;
  font-size: 14px;
}
